// You should probably disregard this file. It's just here to give us some stuff to light up
body
  font-family: 'helvetica neue' helvetica arial sans-serif
  background-color: lighten(#ff5050, 15)
  height: 100vh
  display: flex
  box-sizing: border-box
  div
    box-sizing: border-box


#panel
  background-color: whitesmoke
  border-radius: 1rem
  width: 60vw
  height: 60vh
  padding: 1rem

  margin:
    top: 20vh
    bottom: 20vh
    left: 20vw
    right: 20vw
  p
    font-size: 22px
    font-weight: 700
    display: block
    color:  #888
    margin-top: .5rem
    margin-bottom: 3rem

select
  background: white
  width: 268px
  padding: 5px
  font-size: 16px
  line-height: 1
  border: 0
  color: #333
  border-radius: 0
  height: 3rem
  margin-left: 2rem
  -webkit-appearance: none


#button
  box-sizing: border-box
  background-color: #4A90E2
  width: 400px
  padding: 1rem 2rem
  color: white
  text-decoration: none
  margin:
    top: 1rem